# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# PySpark / Spark temporary files
.metastore_db/
derby.log

# Environment variables
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# VSCode settings (optional)
.vscode/

# Pip wheels
*.whl

# PyCharm
.idea/
